.buy-button {
    background-color: var(--primaryColour);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 2.5%;
    bottom: 5%;
}

.generic-button {
    background-color: var(--primaryColour);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 2%;
    bottom: 5%;
}