.link {
 text-decoration: none;
 color: var(--white);
}
.link-background {
    background-color: var(--primaryColour);
    padding: 5px;
    display: flex;
    align-content: center;
    flex-grow: 1;
    justify-content: center;
}
.link-background-active {
    background-color: var(--activeColour);
    padding: 5px;
    display: flex;
    align-content: center;
    flex-grow: 1;
    justify-content: center;
}
.linkbar {
    display: flex;
    flex-direction: row;

}

.sidefiller {
    background-color: var(--secondaryBackground);
    flex-grow: 1;
}
.link-wrapper {
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;

}
