:root {
    --primaryColour: #3674B5;
    --activeColour: #265281;
    --primaryBackgroundColour: #578FCA;
    --secondaryBackground: #E0E6FF;
    --white: #F9F9F9;
    --textColour: #0A0A0A;
    --alternateTextColour: #888EA0;
}

.content-box {
    width: 70%;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondaryBackground);
    padding-bottom: 1%;
}

.content-text-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 20%;
}

.content-text {
    color: var(--textColour);
    padding-left: 2%;
    padding-right: 20%;
}

/* Etusivuun liittyviä lisättyjä komponetteja/Ali */
.homepage .content-box {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondaryBackground);
    padding-bottom: 1%;
    
}

.homepage .content-text-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    
}

.homepage .content-text {
    color: var(--textColour);
    padding-left: 5%;
    padding-right: 5%;
    
}

/* Etusivulle erillinen säätö kalastonhoitomaksun napille */
.homepage .kalastonhoito-btn {
    background-color: var(--primaryColour);  /* Taustaväri */
    color: var(--white);  /* Tekstiväri */
    padding: 12px 20px;  /* Täytteen lisääminen */
    border: none;  /* Ei reunusta */
    border-radius: 5px;  /* Pyöristetyt kulmat */
    font-size: 1rem;  /* Kirjasinkoko */
    cursor: pointer;  /* Näyttää käden kuvakkeen */
    transition: background-color 0.3s ease;  /* Siirtymän lisääminen hover-efektiin */
    text-decoration: none;  /* Poistaa linkin alaviivan */
    display: inline-block;  /* Asetetaan nappi inline-elementiksi */
}

.homepage .kalastonhoito-btn:hover {
    background-color: var(--activeColour);  
}

.homepage .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
/* Kartta
.map-container {
    flex: 0 0 100px; 
    max-width: 200px;
    margin-right: 20px;
}
.map-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}*/
/* Etusivuun liittyviä lisättyjä komponetteja */

