:root {
    --primaryColour: #3674B5;
    --activeColour: #265281;
    --primaryBackgroundColour: #578FCA;
    --secondaryBackground: #E0E6FF;
    --white: #F9F9F9;
    --textColour: #0A0A0A;
    --alternateTextColour: #888EA0;
}

.content-box {
    width: 70%;
    min-height: 350px;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondaryBackground);
    padding-bottom: 1%;
    position: relative;
}

/*
TODO
vaihda content-text-header -> content-header

*/
.content-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 20%;
}

.content-text-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 20%;
}

.content-text {
    color: var(--textColour);
    padding-left: 2%;
    padding-right: 20%;
}

.homepage .content-text-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

}

.homepage .content-text {
    color: var(--textColour);
    padding-left: 5%;
    padding-right: 5%;

}

/* Etusivulle erillinen säätö kalastonhoitomaksun napille */
.homepage .kalastonhoito-btn {
    background-color: var(--primaryColour);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 5%;
    bottom: 15%;
}

.homepage .kalastonhoito-btn:hover {
    background-color: var(--activeColour);
}

.homepage .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* Kartta
.map-container {
    flex: 0 0 100px; 
    max-width: 200px;
    margin-right: 20px;
}
.map-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}*/
/* Etusivuun liittyviä lisättyjä komponetteja */