:root {
    --primaryColour: #3674B5;
    --activeColour: #265281;
    --primaryBackgroundColour: #578FCA;
    --secondaryBackground: #E0E6FF;
    --white: #F9F9F9;
    --textColour: #0A0A0A;
    --alternateTextColour: #888EA0;
}

.shareholder-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shareholder-box {
    border: 1px solid var(--primaryColour);
    background-color: var(--secondaryBackground);
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.shareholder-box:hover {
    transform: scale(1.05);
}

.shareholder-image {
    width: 100%;
    height: auto;
}

.content-text-header {
    color: var(--textColour);
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 20%;
}

.content-text {
    color: var(--textColour);
    padding-left: 2%;
    padding-right: 20%;
}